/* google fonts here  */

body {
  background-color: rgba(0, 0, 0, 0.911);
}

main {
  max-width: 100%;
  margin: 0 auto;
}
main > section {
  margin-bottom: 100px;
}
/* shared styles is there  */
.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}
.text-primary {
  color: #e6533c;
}
.title-primary {
  color: #ffffff;
}
.description-paragraph-primary {
  color: rgba(255, 255, 255, 0.5);
}
.btn-primary {
  background-color: #e6533c;
  padding: 11px 22px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
}

/* header style and navbar css  */
.brand {
  font-weight: 600;
  font-size: 3rem;
}
header {
  max-width: 80%;
  margin: 0 auto;
}
.header {
  margin-bottom: 50px;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 35px;
}
.nav-links {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 3px 0px 3px 0px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}
#home-nav {
  /* padding: 10px; */
  background-color: #e6533c;
  padding: 3px 15px;
  border-radius: 20px;
}
/* banner style  */
.banner {
  gap: 120px;
}
.banner-content {
  width: 50%;
}
.banner-title {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 20px;
}
/* button  */
.btn-apk-download {
  background-color: rgba(0, 0, 0, 0.788);
  margin-left: 20px;
  padding: 11px 22px;
  border: 1px solid gray;
  border-radius: 20px;
}

.banner-img img {
  width: 100%;
  position: relative;
}

/* gym content video and workout video style */

#btn-test {
  position: absolute;
  margin-top: 430px;
  margin-left: -450px;
  padding: 5px 20px;
  background-color: rgba(48, 48, 48, 0.54);
  border: 1px dotted gray;
  border-radius: 10px;
}
.btn-info {
  align-items: center;
  gap: 10px;
}
.dot {
  width: 35px;
  height: 35px;
  background-color: #e6533c;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
}
.gym-video-number {
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 35px;
}
.gym-total-video {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

#btn-test-2 {
  position: absolute;
  margin-top: 190px;
  margin-left: -80px;
  padding: 5px 20px;
  background-color: rgba(48, 48, 48, 0.54);
  border: 1px dotted gray;
  border-radius: 10px;
}
.gym-workout-video-number {
  font-weight: 600;
  font-size: 1.8rem;
  margin-right: 80px;
  margin-top: 5px;
  margin-bottom: 3px;
}
.gym-total-workout-video {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 5px;
}

/* habit section style  */
.habit-section {
  max-width: 80%;
  margin: 0 auto;
}
.habit-title {
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.habit-instruction {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.habit-management {
  grid-template-columns: repeat(4, 1fr);
}

.card-habit {
  max-width: 240px;
  margin-top: 15px;
}
.card-details {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-details img {
  border-radius: 50%;
}
.habit-name {
  margin-top: 5px;
  margin-bottom: 5px;
}
.habit-description {
  margin-top: 7px;
}

/* run and extra run style  */
.run {
  background-color: #222222;
  border-radius: 15px;
  padding: 10px;
  border: 1px dotted gray;
  max-width: 80%;
  margin: 0 auto;
}
.run-habit {
  align-items: center;
  justify-content: center;
  gap: 180px;
}
.run-info {
  width: 400px;
}
.run-title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.running-img img {
  width: 400px;
}
/* BMI calculator style  */
.bmi {
  max-width: 75%;
  margin: 0 auto;
}
.bmi-calculator {
  background-color: #222222;
  border: 1px dotted gray;
  border-radius: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.bmi-calculator-chart {
  width: 400px;
}
.bmi-calculator-bmi {
  width: 400px;
}
.table-title {
  font-weight: 600;
  align-items: center;
}
th,
td {
  border: 1px solid gray;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.table-description {
  margin-top: 10px;
}

input,
select {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}
.select-hw {
  color: yellowgreen;
  width: 190px;
}
.select-wh {
  color: khaki;
  width: 387px;
}
option {
  background-color: black;
}

@media screen and (max-width: 576px) {
  .navbar,
  .banner {
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }
  .banner-content {
    width: 100%;
    margin: 0 auto;
  }
  .banner-img {
    margin-top: -100px;
  }
  .banner-img img {
    width: 100%;
    position: relative;
  }
  #btn-test {
    position: absolute;
    margin-top: 250px;
    margin-left: -350px;
  }
  #btn-test-2 {
    position: absolute;
    margin-top: 50px;
    margin-left: -150px;
  }
  /* habit section  */
  .habit-management {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .card-habit {
    max-width: 240px;
    margin: 0 auto;
  }
  .run-habit {
    flex-direction: column;
    gap: 30px;
  }
  .run-info {
    width: 240px;
  }

  .running-img img {
    width: 300px;
  }
}

/* medium device responsive  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .banner {
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }
  .banner-content {
    width: 100%;
    margin: 0 auto;
  }
  .banner-img {
    margin-top: -100px;
  }
  .banner-img img {
    width: 100%;
    position: relative;
  }
  #btn-test {
    position: absolute;
    margin-top: 650px;
    margin-left: -600px;
  }
  #btn-test-2 {
    position: absolute;
    margin-top: 190px;
    margin-left: -270px;
  }
  .habit-management {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .card-habit {
    max-width: 240px;
    margin: 0 auto;
  }
  .run-habit {
    gap: 30px;
  }
  .run-info {
    width: 250px;
  }
  .running-img img {
    width: 300px;
  }
}
