/* google fonts here  */

body {
  background-color: rgba(0, 0, 0, 0.911);
}

main {
  max-width: 100%;
  margin: 0 auto;
}
/* shared styles is there  */
.display-flex {
  display: flex;
}

.text-primary {
  color: #e6533c;
}
.title-primary {
  color: #ffffff;
}
.description-paragraph-primary {
  color: rgba(255, 255, 255, 0.5);
}
.btn-primary {
  background-color: #e6533c;
  padding: 11px 22px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
}

/* header style and navbar css  */
.brand {
  font-weight: 600;
  font-size: 3rem;
}
header {
  max-width: 80%;
  margin: 0 auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 35px;
}
.nav-links {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 3px 0px 3px 0px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}
#home-nav {
  /* padding: 10px; */
  background-color: #e6533c;
  padding: 3px 15px;
  border-radius: 20px;
}
/* banner style  */
.banner {
  gap: 120px;
}
.banner-content {
  width: 50%;
}
.banner-title {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 20px;
}
/* button  */
.btn-apk-download {
  background-color: rgba(0, 0, 0, 0.788);
  margin-left: 20px;
  padding: 11px 22px;
  border: 1px solid gray;
  border-radius: 20px;
}

.banner-img img {
  width: 100%;
  position: relative;
}

/* gym content video and workout video style */

#btn-test {
  position: absolute;
  margin-top: 430px;
  margin-left: -450px;
  padding: 5px 20px;
  background-color: rgba(48, 48, 48, 0.54);
  border: 1px dotted gray;
  border-radius: 10px;
}
.btn-info {
  align-items: center;
  gap: 10px;
}
.dot {
  width: 35px;
  height: 35px;
  background-color: #e6533c;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
}
.gym-video-number {
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 35px;
}
.gym-total-video {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

#btn-test-2 {
  position: absolute;
  margin-top: 190px;
  margin-left: -80px;
  padding: 5px 20px;
  background-color: rgba(48, 48, 48, 0.54);
  border: 1px dotted gray;
  border-radius: 10px;
}
.gym-workout-video-number {
  font-weight: 600;
  font-size: 1.8rem;
  margin-right: 80px;
  margin-top: 5px;
  margin-bottom: 3px;
}
.gym-total-workout-video {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 5px;
}

@media screen and (max-width: 576px) {
  .navbar,
  .banner {
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }
  .banner-content {
    width: 100%;
    margin: 0 auto;
  }
  .banner-img {
    margin-top: -100px;
  }
  .banner-img img {
    width: 100%;
    position: relative;
  }
  #btn-test {
    position: absolute;
    margin-top: 250px;
    margin-left: -350px;
  }
  #btn-test-2 {
    position: absolute;
    margin-top: 50px;
    margin-left: -150px;
  }
}

/* medium device responsive  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .banner {
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }
  .banner-content {
    width: 100%;
    margin: 0 auto;
  }
  .banner-img {
    margin-top: -100px;
  }
  .banner-img img {
    width: 100%;
    position: relative;
  }
  #btn-test {
    position: absolute;
    margin-top: 650px;
    margin-left: -600px;
  }
  #btn-test-2 {
    position: absolute;
    margin-top: 190px;
    margin-left: -270px;
  }
}
